<div class="box comments">
     {{#each this}}
     <article class="media">
         <div class="media-left">
         </div>
         <div class="media-content">
             <div class="content">
                 <p>
                     <small>{{user.username}}</small> <small>{{format_date created_at}} </small>
                     <br>
                     {{comment_text}}
                 </p>
             </div>
         </div>
     </article>
     {{/each}}
</div>