    <div class="box post">
       <article class="media">
         <div class="media-left">
         </div>
         <div class="media-content">
           <div class="content">
             <p>
               <strong>{{title}} </strong> <small>{{username}}</small> <small>{{created_at}} </small>
               <br>
               {{content}}
             </p>
           </div>
         </div>
       </article>
     </div>